<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.bar">

    <application>
        <activity
            android:name=".BottomTabActivity"
            android:exported="false" />
        <activity
            android:name=".EvadeTestActivity"
            android:exported="false" />
        <activity
            android:name=".AgileTestActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTestActivity"
            android:exported="false" />
    </application>

</manifest>